.footer {
  width: 100%;
  background-color: rgba(26, 32, 44, 255);
  color: white;
  padding: 50px 50px 50px 50px;
  font-family: "Poppins", sans-serif;
}

.quicklinks-footer {
  padding-left: 5vw;
}

.quicklinks-footer ul {
  list-style-type: none;
}

.quicklinks-footer ul li,
.contact-footer ul li {
  padding-bottom: 1.5vh;
}

footer h2 {
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.contact-footer ul {
  list-style-type: none;
}

.contact-footer a {
  font-size: 1.4em;
  color: rgb(0, 204, 255);
}
