.footer {
  width: 100%;
  background-color: rgba(26, 32, 44, 255);
  color: white;
  padding: 50px 50px 50px 50px;
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  padding-bottom: 1em;
}

.hours-footer {
  width: 25vw;
}

.quicklinks-footer {
  width: 15vw;
}
/* 
.contact-footer {
  width: 15vw;
} */

footer h2 {
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.contact-footer a {
  font-size: 1.4em;
  color: rgb(0, 204, 255);
}

.hours_ul {
  padding-right: 80px;
}

.hours_ul span:nth-last-child(2) {
  border-bottom: 1px dotted white;
  margin-bottom: 10px;
  width: 5vw;
}

@media (max-width: 1570px) {
  .hours_ul span:nth-last-child(2) {
    width: 2vw;
  }
}

@media (max-width: 991px) {
  .footer {
    font-size: 2.5vw;
  }
  .footer h2 {
    text-align: center;
  }
  .hours_ul {
    padding: 0;
  }
  .hours_ul span:nth-last-child(2) {
    width: 25vw;
    padding-top: 0;
  }
  .hours-footer {
    width: 75vw;
  }

  .quicklinks-footer {
    display: none;
  }

  /* .contact-footer {
    width: 15vw;
  } */
}
