.footer {
  width: 100%;
  background-color: rgba(26, 32, 44, 255);
  color: white;
  padding: 50px 50px 50px 50px;
  font-family: "Poppins", sans-serif;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  padding-bottom: 1em;
}

.quicklinks-footer {
  padding-left: 5vw;
}

footer h2 {
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.contact-footer a {
  font-size: 1.4em;
  color: rgb(0, 204, 255);
}

.hours_ul {
  padding-right: 130px;
}

.hours_ul span:nth-last-child(2) {
  border-bottom: 1px dotted white;
  margin-bottom: 10px;
  width: 20%;
}
