.hours_section {
  height: 700px;
  background-color: rgb(26, 32, 44);
  font-family: "Poppins", sans-serif;
}

.physio_hours {
  background-color: rgba(26, 32, 44, 255);
  color: white;
  border: 2px solid white;
  padding: 50px 50px 150px 50px;
}

.physio_hours p {
  color: rgb(133, 133, 133);
}

.physio_hours h2 {
  letter-spacing: 2px;
  color: rgb(0, 165, 206);
  font-size: 1.5em;
}

.physio_hours ul {
  list-style: none;
}

.dottedBorder {
  border-bottom: 1px dotted white;
  width: 70%;
  margin-bottom: 10px;
}
