.how_we_help {
  /* height: 100vh; */
  background: linear-gradient(rgba(26, 32, 44, 0.829), rgba(38, 44, 97, 0.7)),
    url("../images/gym_pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

.how_we_help_card {
  background-color: white;
  color: rgb(77, 77, 77);
}

.how_we_help_card li {
  padding-bottom: 10px;
}

.how_we_help_card h3 {
  font-size: 1.4em;
}

.how_we_help_card .book-button {
  background-color: rgb(0, 165, 206);
  color: white;
  border: none;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

@media (max-width: 635px) {
  .how_we_help_card {
    background-color: rgba(255, 255, 255, 0.749);
    color: black;
  }
  .how_we_help_card li {
    font-size: 3vw;
  }
}
