.howWeHelp {
  letter-spacing: 4px;
  color: rgb(0, 165, 206);
  font-size: 1.5em;
}

.physio-services-div {
  font-family: "Poppins", sans-serif;
  padding-bottom: 100px;
  padding-top: 50px;
}

.physio-services-div h2 {
  font-size: 4em;
  font-weight: 300;
  padding-bottom: 30px;
}

.physio_services {
  /* width: 400px; */
  color: rgb(77, 77, 77);
}

.physio_services img {
  width: 25vw;
  height: 267px;
  object-fit: cover;
}

.physio_services h3 {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 2px;
}

.physio_services p {
  line-height: 2;
}

.physio_services button {
  border: none;
  background-color: rgb(0, 165, 206);
  color: white;
  width: 25vw;
  border-radius: 15px;
  padding: 5px 0;
}

.physio_services_modal_text{
  width: 25vw;
}

@media (max-width: 991px) {
  .physio_services button {
    width: 75vw;
   
  }
  
  .physio_services_modal_text{
    width: 75vw;
  }
  .physio_services img {
    width: 75vw;
  }
}