.prices_section {
  margin: 100px 0;
}

.prices_section h2 {
  letter-spacing: 2px;
  color: rgb(0, 147, 184);
  font-size: 1.5em;
  padding-bottom: 15px;
}

.prices_card > h3 {
  font-size: 1.1em;
  padding-bottom: 10px;
}

.prices_card {
  background-color: rgba(26, 32, 44, 255);
  color: white;
  padding: 10px 8vw;
  border: 3px solid rgba(204, 204, 204, 0.5);
}

.prices_card li {
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  .prices_card p {
    font-size: 3vw;
  }
  .prices_card h3 {
    font-size: 5vw;
  }
}
