.modal-button {
  background-color: rgb(0, 165, 206);
  width: 25vw;
  border: none;
}

.modal-content {
  text-align: justify;
}

@media (max-width: 600px) {
  .close_button_bottom {
    width: 30px;
  }
}
