.howWeHelp {
  letter-spacing: 2px;
  color: rgb(77, 171, 177);
  font-size: 1.5em;
}

.why-us-div {
  font-family: "Poppins", sans-serif;
  padding-bottom: 100px;
  padding-top: 50px;
}

.why-us-div h2 {
  font-size: 4em;
  font-weight: 300;
  padding-bottom: 30px;
}

.why-us-p {
  font-size: 1.3em;
  padding-bottom: 25px;
}

.why-us-container {
  width: 400px;
  color: rgb(77, 77, 77);
}

.why-us-container img {
  width: 400px;
  height: 267px;
  object-fit: cover;
}

.why-us-container h3 {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 2px;
}

.why-us-container p {
  line-height: 2;
}

.why-us-container button {
  border: none;
  background-color: rgb(77, 171, 177);
  color: white;
  width: 400px;
  border-radius: 15px;
  padding: 5px 0;
}

.why_choose_icon {
  font-size: 8em;
  color: rgb(0, 165, 206);
}
