.App {
  font-family: "Poppins", sans-serif;
}

.homePage {
  height: 100vh;
  background: linear-gradient(rgba(0, 5, 72, 0.829), rgba(72, 84, 192, 0.7)),
    url("./images/swissball_back_stretch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

.homePage h1 {
  /* font-size: 4em; */
  font-weight: 300;
  letter-spacing: 2px;
}

.homePage p {
  font-size: 1.3em;
}

/* home page contact icons styling */
.icons {
  color: rgb(0, 204, 255);
}

/* Mission and vision styling */

.missionDiv {
  color: rgb(77, 77, 77);
  line-height: 2;
  font-family: "Poppins", sans-serif;
}

/* .lumbarImgDiv {
  padding: 100px 150px 100px 50px;
} */

.lumbarImgDiv img {
  filter: brightness(135%);
  width: 600px;
}


/* About page styling */

.about_page {
  height: 600px;
  color: white;
  background-color: rgba(26, 32, 44, 255);
  padding: 200px 600px 0 40px;
  font-family: "Poppins", sans-serif;
}

.about_page h2 {
  letter-spacing: 2px;
  color: rgb(0, 165, 206);
  font-size: 1.5em;
}

.about_page h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px 0;
}

.about_page span {
  color: rgb(0, 165, 206);
}

.about_page p {
  font-size: 1.4em;
  padding-bottom: 30px;
}

.about_page .book-button {
  background-color: rgb(0, 165, 206);
  color: white;
  border: none;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

.about_name {
  color: rgb(0, 126, 158);
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.profile_pic img {
  width: 600px;
  margin-left: 180px;
}

.profile_pic figcaption {
  margin-left: 180px;
}

.profile_blurb div {
  color: rgb(77, 77, 77);
  line-height: 2;
  width: 600px;
}

.img_caption_div {
  margin: 100px;
}

/* Services page */
.services_page {
  height: 600px;
  color: white;
  background-color: rgba(26, 32, 44, 255);
  padding: 200px 600px 0 40px;
  font-family: "Poppins", sans-serif;
}

.services_page h2 {
  letter-spacing: 2px;
  color: rgb(0, 165, 206);
  font-size: 1.5em;
}

.services_page h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px 0;
}

.services_page span {
  color: rgb(0, 165, 206);
}

.services_page p {
  font-size: 1.4em;
  padding-bottom: 30px;
}

.services_page .book-button {
  background-color: rgb(0, 165, 206);
  color: white;
  border: none;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

.treatments_offered {
  color: rgb(77, 77, 77);
  padding: 100px;
}

.treatments_offered img {
  width: 600px;
}

.treatments_offered ul {
  width: 450px;
}

.treatments_offered li {
  font-size: 1.4em;
  padding-bottom: 10px;
}
