.homePage {
  height: 100vh;
  background: linear-gradient(rgba(0, 5, 72, 0.829), rgba(72, 84, 192, 0.7)),
    url("./images/swissball_back_stretch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

.homePage h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 2px;
}

.homePage p {
  font-size: 1.3em;
}

/* home page contact icons styling */
.icons {
  color: rgb(0, 204, 255);
}
