.homePage {
  height: 100vh;
  background: linear-gradient(rgba(0, 5, 72, 0.829), rgba(72, 84, 192, 0.7)),
    url("./images/swissball_back_stretch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
}

.homePage h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 2px;
}

.homePage p {
  font-size: 1.3em;
}

/* home page contact icons styling */
.icons {
  color: rgb(0, 204, 255);
}

/* Mission and vision styling */

.missionDiv {
  color: rgb(77, 77, 77);
  padding: 100px 50px 100px 250px;
  height: 400px;
  width: 600px;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}

.lumbarImgDiv {
  padding: 100px 250px 100px 50px;
}

.lumbarImgDiv img {
  filter: brightness(135%);
  width: 600px;
}

/* About page styling */
.about_page {
  height: 600px;
  color: white;
  background-color: rgba(26, 32, 44, 255);
  padding: 200px 600px 0 40px;
  font-family: "Poppins", sans-serif;
}

.about_page h2 {
  letter-spacing: 2px;
  color: rgb(0, 165, 206);
  font-size: 1.5em;
}

.about_page h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px 0;
}

.about_page span {
  color: rgb(0, 165, 206);
}

.about_page p {
  font-size: 1.4em;
  padding-bottom: 30px;
}

.about_page button {
  background-color: rgb(0, 165, 206);
  color: white;
  border: none;
  padding: 15px 30px;
  letter-spacing: 2px;
}
